.add-btn {
    width: 80px;
    height: 80px;
    background-color: #c3d6df;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    text-decoration: none;

    position: fixed;
    bottom: 30px;
    right: 30px;
}